{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block body %}
<div class="breadcrumbs">
  <div class="region region__breadcrumbs">

    <div class="breadcrumb-content-inner">
      <div class="gva-breadcrumb-content">
        <div id="block-breadcrumbs"
          class="text-light block gva-block-breadcrumb block-system block-system-breadcrumb-block no-title">
         
          <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
              {% for item in serviceImg %}
                <div class="carousel-item {% if forloop.first %}active{% endif %}">
                  <img src="{{ item.breadcrumb_img.url }}" class="d-block w-100" alt="{{ item.alt_text }}">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>Home/Service Detail</h5>
                    <p>{{ item.title }}</p>
                  </div>
                </div>
              {% endfor %}
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
          

          </div>
        </div>
      </div>
    </div>


  </div>

</div>

<div role="main" class="main main-page has-breadcrumb">

  <div class="clearfix"></div>


  <div class="help gav-help-region">
    <div class="container">
      <div class="content-inner">
        <div class="region region__help">
          <div data-drupal-messages-fallback class="hidden"></div>

        </div>

      </div>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="clearfix"></div>

  <div id="content" class="content content-full">
    <div class="container-full container-bg">
      <div class="content-main-inner">
        <div id="page-main-content" class="main-content">
          <div class="main-content-inner">
            <div class="content-main">
              <div class="region region__content">
                <div id="block-mainpagecontent" class="block block-system block-system-main-block no-title">


                  <div class="content block-content">


                    <article data-history-node-id="109" role="article"
                      class="node node-detail node--type-service node--promoted node--view-mode-full clearfix">
                      <div class="header-title">
                        <div class="container">
                          <h2 class="title"><span>
                              <span>Services</span>
                            </span></h2>
                        </div>
                      </div>
                      <div class="node__content clearfix">
                        <div class="gavias-builder--content">
                          <div class="gbb-row-wrapper">
                            <div class=" gbb-row  bg-size-cover el-66356846 " style="">
                              <div class="">
                                <div class="bb-container container">
                                  <div class="row row-wrapper">
                                    <div
                                      class="gsc-column el-16512760 col-xxl-8 col-xl-8 col-lg-8 col-md-12 col-sm-12 col-xs-12   ">
                                      <div class="column-inner  bg-size-cover ">
                                        <div class="column-content-inner">
                                          <div class="gsc-our-gallery ">
                                            <!-- <div class="owl-carousel init-carousel-owl owl-loaded owl-drag"
                                              data-items="1" data-items_lg="1" data-items_md="1" data-items_sm="1"
                                              data-items_xs="1" data-loop="1" data-speed="500" data-auto_play="1"
                                              data-auto_play_speed="2000" data-auto_play_timeout="5000"
                                              data-auto_play_hover="1" data-navigation="1" data-rewind_nav="0"
                                              data-pagination="0" data-mouse_drag="1" data-touch_drag="1"> -->
                                              <div>
                                              <div class="item">
                                                <div class="gallery-one__single">
                                                  <div class="gallery-one__image"><img
                                                      src="{{details.image.url}}" style="width: -webkit-fill-available; height: auto;"
                                                      alt="IT Solutions & Services" /></div>
                                                  <div class="gallery-one__content">
                                                    <div class="gallery-one__content-inner">
                                                      <h4 class="gallery-one__title">{{details.title}}</h4>
                                                      <!-- <div class="gallery-one__desc">Nemo enim ipsam voluptatem quia.
                                                      </div> -->
                                                    </div>
                                                  </div>
                                                </div>
                                              </div>
                                          
                                            </div>
                                          </div>

                                          <div
                                            class="widget gsc-heading gsc-heading__align-left  style-1 padding-bottom-20"
                                            style="max-width: 800px;">

                                            <div class="gsc-heading__content clearfix">
                                              <h2 class="gsc-heading__title fweight-600 ">
                                                <span>{{details.title}}</span>
                                              </h2>
                                              <div class="gsc-heading__desc ">
                                                <p>{{details.description|safe}}</p>
                                              </div>
                                            </div>


                                          </div>
                                          <div class="clearfix"></div>

                                        </div>
                                      </div>



                                    </div>
                                    <div
                                      class="gsc-column el-76781286 col-xxl-4 col-xl-4 col-lg-4 col-md-12 col-sm-12 col-xs-12 sidebar  ">
                                      <div class="column-inner  bg-size-cover ">
                                        <div class="column-content-inner">
                                          <div
                                            class=" clearfix widget gsc-block-drupal title-align-left  hidden-title-on remove-margin-off text-dark">
                                            <nav aria-labelledby="block-menuservices-menu" id="block-menuservices"
                                              class="block block-menu navigation menu--menu-services">


                                              <h2 id="block-menuservices-menu" class="block-title"><span>Services</span>
                                              </h2>

                                              <div class="block-content">

                                                <ul class="gva_menu">
                                                  {% for item in service %}
                                                  <li class="menu-item">
                                                    <a href="{% url 'app:serviceDetail' item.service_slug %}"
                                                      data-drupal-link-system-path="node/108">{{item.title}}</a>

                                                  </li>
                                                  {% endfor%}
                                                  
                                                </ul>



                                              </div>
                                            </nav>
                                          </div>
                                          <div class="el-feature-block  style-4">


<!-- 


                                            <div class="feature-four__single">
                                              <div class="feature-four__image"><img
                                                  src="sites/default/files/gbb-uploads/image-1.jpg"
                                                  alt="IT Solutions & Services" /></div>
                                              <div class="feature-four__content">
                                                <div class="feature-four__content-inner">
                                                  <span class="feature-four__content-icon"><i
                                                      class="flaticon-rating"></i></span>
                                                  <h3 class="feature-four__content-title">IT Solutions & Services</h3>
                                                  <div class="feature-four__content-desc">Lorem ipsum is simply free
                                                    text used by copytyping.</div>
                                                  <div class="feature-four__content-action"><a class="btn-inline"
                                                      href="#"><span>Read more</span></a></div>
                                                </div>
                                              </div>
                                            </div>
 -->



                                          </div>

                                          <div class="block block-custom-text block-full">
                                            <div class="block-content">
                                              <div class="service-help__block">
                                                <span class="service-help__bg">
                                                  <img src="{% static 'app/themes/custom/notech/assets/images/contact-bg.jpg'%}" alt="">
                                                </span>
                                                <div class="service-help__icon">
                                                  <img src="{% static 'app/themes/custom/notech/assets/images/comment-icon.png'%}" alt="">
                                                </div>
                                                <h2 class="service-help__title">Easy solutions <br> to your  <br>
                                                  problem</h2>
                                                <div class="service-help__content">
                                                  <p>Have any question?</p>
                                                  <a href="tel:980009850"><span>Free</span> +977 {{info.phone}}</a>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>



                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <!-- <div class="gbb-row-wrapper">
                            <div class=" gbb-row  gva-parallax-background  bg-size-cover el-45755864 "
                              style="background-image:url('sites/default/files/gbb-uploads/bg-2.jpg'); background-repeat:no-repeat; background-position:center center">
                              <div class="bb-inner default">
                                <div class="bb-container container">
                                  <div class="row row-wrapper">
                                    <div
                                      class="gsc-column el-58018288 col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12   ">
                                      <div class="column-inner  bg-size-cover ">
                                        <div class="column-content-inner">
                                          <div class="block block-custom-text ">
                                            <div class="block-content">
                                              <div class="block-content">
                                                <div class="business-from__inner text-center">
                                                  <p class="business-from__sub-title">Business from great idea to</p>
                                                  <h2 class="business-from__title">LAUNCHING</h2>
                                                  <div class="business-from__btn-box">
                                                    <a target="_blank" href="#"
                                                      class="business-from__btn btn-theme">Contact us now</a>
                                                  </div>
                                                </div>
                                              </div>
                                            </div>
                                          </div>
                                        </div>
                                      </div>



                                    </div>
                                  </div>
                                </div>
                              </div>
                              <div style="background-repeat: no-repeat;background-position:center center;"
                                class="gva-parallax-inner skrollable skrollable-between bg-size-cover"
                                data-bottom-top="top: -60%;" data-top-bottom="top: 0%;"></div>
                            </div>
                          </div> -->
                        </div>
                      </div>
                    </article>

                    <!-- End Display article for detail page -->

                  </div>
                </div>

              </div>

            </div>
          </div>
        </div>
      </div>

    </div>
  </div>


</div>
</div>
{% endblock%}