{% extends 'app/base.html' %}
{% load static %}
{% block title %}
Home
{% endblock %}
{% block body %}

<div class="breadcrumbs">
      <div class="region region__breadcrumbs">

            <div class="breadcrumb-content-inner">
                  <div class="gva-breadcrumb-content">
                        <div id="block-breadcrumbs"
                              class="text-light block gva-block-breadcrumb block-system block-system-breadcrumb-block no-title">
                              <div class="breadcrumb-style gva-parallax-background"
                                    style="background-color: #1B1525;background-image: url(%27/notech/themes/custom/notech/assets/images/breadcrumb.html);background-position: center center;background-repeat: no-repeat;">
                                    <div class="breadcrumb-content-main">
                                          <div class="">
                                                <div class="content block-content">
                                                      <div class="breadcrumb-links">
                                                            <div class="content-inner">
                                                                  <nav class="breadcrumb "
                                                                        aria-labelledby="system-breadcrumb">
                                                                        <ol>

                                                                              <li>
                                                                                    <a href="index.html">Home</a>
                                                                                    <span class="">&nbsp;/&nbsp;</span>

                                                                              </li>
                                                                              <li>


                                                                              </li>
                                                                              <li>
                                                                                    Services 04

                                                                              </li>
                                                                              <li></li>
                                                                        </ol>
                                                                  </nav>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                          <h2 class="page-title">Services 04 </h2>
                                    </div>
                                    <div class="gva-parallax-inner skrollable skrollable-between"
                                          data-bottom-top="top: -80%;" data-top-bottom="top: 0%;"></div>
                              </div>
                        </div>
                  </div>
            </div>


      </div>

</div>

<div role="main" class="main main-page has-breadcrumb">

      <div class="clearfix"></div>


      <div class="help gav-help-region">
            <div class="container">
                  <div class="content-inner">
                        <div class="region region__help">
                              <div data-drupal-messages-fallback class="hidden"></div>

                        </div>

                  </div>
            </div>
      </div>

      <div class="clearfix"></div>

      <div class="clearfix"></div>

      <div id="content" class="content content-full">
            <div class="container-full container-bg">
                  <div class="content-main-inner">
                        <div id="page-main-content" class="main-content">
                              <div class="main-content-inner">
                                    <div class="content-main">
                                          <div class="region region__content">
                                                <div id="block-mainpagecontent"
                                                      class="block block-system block-system-main-block no-title">


                                                      <div class="content block-content">
                                                            <!-- Start Display article for detail page -->

                                                            <div data-history-node-id="102" role="article"
                                                                  class="node node--type-page node--view-mode-full">
                                                                  <div class="header-title">
                                                                        <div class="container">
                                                                              <h2 class="title">
                                                                                    <span>
                                                                                          <span>Services
                                                                                                04</span>
                                                                                    </span>
                                                                              </h2>
                                                                        </div>
                                                                  </div>
                                                                  <div class="node__content clearfix">
                                                                        <div class="gavias-builder--content">
                                                                              <div class="gbb-row-wrapper">
                                                                                    <div class=" gbb-row  bg-size-cover el-60017773 "
                                                                                          style="">
                                                                                          <div class="bb-inner default">
                                                                                                <div
                                                                                                      class="bb-container container">
                                                                                                      <div
                                                                                                            class="row row-wrapper">
                                                                                                            <div
                                                                                                                  class="gsc-column el-7201534 col-xxl-12 col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12   ">
                                                                                                                  <div
                                                                                                                        class="column-inner  bg-size-cover ">
                                                                                                                        <div
                                                                                                                              class="column-content-inner">

                                                                                                                              <div class="widget gsc-heading gsc-heading__align-center  style-1 "
                                                                                                                                    style="max-width: 600px;">

                                                                                                                                    <div
                                                                                                                                          class="gsc-heading__content clearfix">
                                                                                                                                          <div
                                                                                                                                                class="gsc-heading__sub-title fweight-500 ">
                                                                                                                                                <span>What
                                                                                                                                                      we’re
                                                                                                                                                      offering</span>
                                                                                                                                          </div>
                                                                                                                                          <h2
                                                                                                                                                class="gsc-heading__title fweight-600 ">
                                                                                                                                                <span>Services
                                                                                                                                                      we’re
                                                                                                                                                      providing
                                                                                                                                                      to
                                                                                                                                                      our
                                                                                                                                                      customers</span>
                                                                                                                                          </h2>
                                                                                                                                    </div>


                                                                                                                              </div>
                                                                                                                              <div
                                                                                                                                    class="clearfix">
                                                                                                                              </div>
                                                                                                                        </div>
                                                                                                                  </div>



                                                                                                            </div>
                                                                                                      </div>
                                                                                                </div>
                                                                                          </div>
                                                                                    </div>
                                                                              </div>

                                                                              <div class="gbb-row-wrapper">
                                                                                    <div class=" gbb-row  bg-size-cover el-15392598 "
                                                                                          style="">
                                                                                          <div class="bb-inner default">
                                                                                                <div
                                                                                                      class="bb-container container">
                                                                                                      <div
                                                                                                            class="row row-wrapper">
                                                                                                            {%for item in service%}
                                                                                                            <div
                                                                                                                  class="gsc-column el-74302303 col-xxl-4 col-xl-4 col-lg-4 col-md-4 col-sm-12 col-xs-12   ">
                                                                                                                  <div
                                                                                                                        class="column-inner  bg-size-cover ">
                                                                                                                        <div
                                                                                                                              class="column-content-inner">

                                                                                                                              <div
                                                                                                                                    class="el-feature-block  style-2">


                                                                                                                                    <div
                                                                                                                                          class="feature-two__single">
                                                                                                                                          <div
                                                                                                                                                class="feature-two__image">
                                                                                                                                                <img src="{{item.image.url}}"
                                                                                                                                                      alt="Manage IT services"
                                                                                                                                                      style="height: 300px;" />
                                                                                                                                          </div>
                                                                                                                                          <div
                                                                                                                                                class="feature-two__content">
                                                                                                                                                <div
                                                                                                                                                      class="feature-two__content-inner">
                                                                                                                                                      <h3
                                                                                                                                                            class="feature-two__title">
                                                                                                                                                            {{item.title}}
                                                                                                                                                      </h3>
                                                                                                                                                      <div
                                                                                                                                                            class="feature-two__desc">
                                                                                                                                                            {{item.description|safe|truncatewords:10}}
                                                                                                                                                      </div>
                                                                                                                                                </div>
                                                                                                                                          </div>
                                                                                                                                          <a class="feature-two__overlay-link"
                                                                                                                                                href="#"></a>
                                                                                                                                    </div>







                                                                                                                              </div>

                                                                                                                        </div>
                                                                                                                  </div>



                                                                                                            </div>
                                                                                                            {%endfor%}

                                                                                                      </div>
                                                                                                </div>
                                                                                          </div>
                                                                                    </div>
                                                                              </div>


                                                                        </div>
                                                                  </div>
                                                            </div>


                                                      </div>
                                                </div>

                                          </div>

                                    </div>
                              </div>
                        </div>
                  </div>

            </div>
      </div>


</div>


{%endblock%}